@media screen and (max-width: 1250px) {
    .logo {
        padding-left: 15px;
    }
    .slider__img {
        width: 55%;
    }
    .slider__inner {
        width: 45%;
    }
    .buttons {
        left: 55%;
    }
}

@media screen and (max-width: 1100px) {
    .sld__header {
        font-size: 28px;
    }
    .container__text {
        padding: 40px 30px 0px;
    }
}

@media screen and (max-width: 900px) {
    .header {
        flex-direction: column;
    }
    .logo {
        width: 70px;
    }
    .nav {
        padding: 20px 0px 0px 15px;
    }
    .slider__text {
        width: 85%;
        margin-top: 90px;
    }
}

@media screen and (max-width: 830px) {
    body {
        overflow-x: hidden;
    }
    .slider {
        height: fit-content;
    }
    .slider__item {
        flex-wrap: wrap;
    }
    .slider__img {
        width: 100%;
    }
    .slider__inner {
        width: 100%;
        height: 350px;
    }
    .buttons {
        z-index: 99999999999999;
        background-color: #fff;
        height: 67px;
        width: 148px;
        top: 433px;
        left: auto;
        right: 0px;
    }
    .container {
        flex-wrap: wrap;
    }
    .container__img {
        width: 100%;
        height: auto;
    }
    .container__text {
        width: 100%;
        padding: 40px 30px 40px;
    }
}

@media screen and (max-width: 700px) {
    .slider__inner {
        padding: 50px 0px;
        height: auto;
    }
    .slider__text {
        margin-top: 0px;
    }
}

@media screen and (max-width: 375px) {
    body {
        max-width: 375px;
    }
    .header {
        top: 40px;
    }
    .logo {
        padding-left: 0px;
        margin: auto;
    }
    .topnav {
        display: block;
        position: absolute;
        z-index: 99999999999999999;
        justify-content: center;
        width: 100%;
        top: 0px;
    }
    .nav {
        display: none;
    }
    .sld__header {
        font-size: 23px;
    }
    .slider__img {
        height: 360px;
    }
    .desktop__img {
        display: none;
    }
    .mobile__img {
        display: block;
    }
    .sld__link {
        font-size: 12px;
    }
    .buttons {
        top: 293px;
    }
    .arrow {
        padding-left: 10px;
    }
}